body {
    background: radial-gradient(circle, #ffa4c8, #ffb4d2, #fcc3da, #fdd1e2, #ffdeeb);
}

body * {
    font-family: 'Playfair Display', sans-serif;
    font-style: italic;
    font-weight: 400;
}

#title {
    color: #5c2a3e;
    text-align: center;
    padding: 12px;
}

.image {
    display: flex;
    justify-content: center;
    padding: 12px;
}

.button {
    text-align: center;
    padding: 12px;
}

footer {
    color: #5c2a3e;
    padding: 12px;
    text-align: center;
    font-size: 15px;
}