body {
    background-color: #F6E8E7;
}

body * {
    font-family: 'Playfair Display', sans-serif;
    font-style: italic;
    font-weight: 400;
}

#title {
    text-align: center;
    padding: 12px;
}

#naruto {
    display: flex;
    justify-content: center;
    padding: 12px;
}

#narutob {  
    text-align: center;
    padding: 12px;
}

#kny {
    display: flex;
    justify-content: center;
    padding: 12px;
}

#knyb {
    text-align: center;
    padding: 12px; 
}

#jjk {
    display: flex;
    justify-content: center;
    padding: 12px;
}

#jjkb {
    text-align: center;
    padding: 12px; 
}

#hmc {
    display: flex;
    justify-content: center;
    padding: 12px;
}

#hmcb {
    text-align: center;
    padding: 12px; 
}

footer {
    padding: 12px;
    text-align: center;
    font-size: 15px;
}