body {
    background: radial-gradient(circle, #ffa4c8, #ffb4d2, #fcc3da, #fdd1e2, #ffdeeb);
}

body * {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 400;
}

#container {
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0px;
    padding: 0 24px;
}

#title {
    color: #5c2a3e;
    text-align: center;
    padding: 12px;
}

.image {
    display: flex;
    justify-content: center;
    padding: 12px;
}

img {
    width: 500px;
    border-radius: 30px;
}

.link {
    font-size: 15px;
    text-align: center;
    padding: 12px;
}

a {
    text-decoration: none;
    color: #5c2a3e;
    border: 1.5px solid #5c2a3e;
    border-radius: 50px;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
}

footer {
    color: #5c2a3e;
    padding: 12px;
    text-align: center;
    font-size: 15px;
    font-family: Arial, sans-serif;
    font-style: normal;
}